@font-face {
    font-family: "norseBold";
    src: url("fonts/norse.bold.otf");
    font-weight: bold;
}

:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: var(--system-ui);
}

body {
    margin: 0;
    display: flex;
}

.sidebar {
    display: flex;
    position: relative;
    height: 100vh;
}

.sidebar-overlay {
    display: flex;
    position: absolute;
    top: 25vh;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: rgba(0, 0, 0, .5);
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "norseBold";
    font-size: 2rem;
}

.image-credit {
    display: flex;
    position: absolute;
    bottom: 0;
    color: white;
    left: 50%;
    transform: translate(-50%);
}

.image-credit a {
    color: white;
}

.sidebar-overlay img {
    height: 90%;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: lightgrey;
}

.signup-msg {
    margin: 4rem;
    font-weight: bold;
    font-size: 24px;
}

.signup-form {
    background-color: white;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 24px;
    color: black;
    padding: 24px;
    box-shadow: 0px 0px 50px 0px grey;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    border: 0;
}

.form-field {
    display: flex;
    flex: 50%;
    flex-direction: column;
    width: 25%;
    margin-bottom: 24px;
}

.form-field label {
    font-size: 16px;
    color: grey;
}

input {
    border: 2px solid #e5e7eb;
    border-radius: 5px;
    width: 20rem;
    height: 1.5rem;
    outline: none;
}

input[type="password"]:invalid {
    border: 2px solid red;
}

input:focus {
    border: 2px solid blue;
    box-shadow: 5px 5px 15px -5px black;
}

.form-footer {
    padding: 32px;
    font-weight: bold;
}

.form-footer > button {
    color: white;
    background-color: #596d48;
    font-size: 1.5rem;
    border-radius: 8px;
    padding: 1rem 2rem;
    border: none;
    box-shadow: 5px 5px 15px black;
}

.form-footer a {
    text-decoration: none;
    color: #596d48;
}
